html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html{
  height: 100%;
  padding: 16px;
  background-color: #448ed3;

  background-position: center center, center, center;
  background-attachment: fixed, fixed;
  background-size: auto, cover;
}

body{
  height: 100%;
  margin: 0;
  font: 16px/24px normal "Open Sans", trebuchet, sans-serif;
  font-weight: 100;
  color: #616161;
  color: #252326;
}

h1, h2, h3, h4, h5{
  text-align: center;
  font-family: inherit;
  font-weight: inherit;
  font-size: 21px;
}

.brick{
  display: inline-block;
  width: 100%;
  padding: 16px;

  margin:0 8px 8px -98px;
  background-color: #e7e7e7;
  vertical-align: top;
}

.icon{
  display: inline-block;
  float: right;
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5;
  text-align: center;

}

header > hgroup{
  margin-bottom: 32px;
  color: #fff;
}

header h1{
  margin-bottom: 0;
  font-size: 28px;
}


nav{
  margin-bottom: 50px;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li{
  display: inline;
}

nav ul li a.brick{
  position: relative;
  font-family: inherit;
  font-weight: inherit;
  color: #616161;
  color: #252326;
  line-height: 8;
  background-color: #252326;
  background-color: #F3F3F3;
  background-color: #e7e7e7;
  border-left: 3px solid #d6e048
}

nav ul li a.brick .icon{
  position: absolute;
  right: 0;
  top: 0;
  height: 64px;
  width: 64px;
  font-size: 2em;
  color: #fff;
  line-height: 2.25;
  
}

nav ul li a.dashboard{
  border-color: #B93861;
  border-radius: 100px;
  margin-top: 30px;
}

nav ul li a.dashboard .icon{
  background-color: #90a7b1;
}

nav ul li a.pages{
  border-color: #34ABD7;
  border-radius: 100px;
  margin-top: 50px;
}

nav ul li a.pages .icon{
  background: #d6e048;
}

nav ul li a.settings{
  border-color: #34ABD7;
  border-radius: 100px;
  margin-top: 50px;
}

nav ul li a.settings .icon{
  background-color: #90a7b1;
}

#content > header{
  position: relative;
  padding: 0px 72px 0px 0px;
  margin-top: 50px;
}

#content .brick{
  position: relative;
}

#content .brick .logout{
  position: absolute;
  right: 8px;
  top: 8px;
  color: #616161;
}

#content.pages .brick.title{
  height: 120px !important;
  border-left: 8px solid #34ABD7;
  background-color:#b7c5c5;
}

#content.pages .brick.client{
  height: 80px;
  border-left: 8px solid #34ABD7;
  background-color: #e7e7e7;
}

#content.pages .brick.logout{
  position: absolute;
  right: 0;
  top: 0;
  width: 64px;
  height: 80px;
  margin-right: 0;
  color: #fff;
  background: #98182f;
}

  nav{
    position: absolute;
    width: 250px;
	height:500px;
  }

  #content{
    min-height: 100%;
    margin-left: 282px;
    font-size: 0;
  }

  #content .brick{
    background: #252326;
    background: #a93447;
    background: #F3F3F3;
    font-size: 25px;
  }

  #content .brick hgroup h2{
    display: inline-block;
    width: 80%;
  }

  #content .brick hgroup a{
    float: right;
    line-height: 1.13;
  }
  
  #content.pages .brick.title{
    border-left: none;
  }

  #content.pages .brick.logout{
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 80px;
    color: #fff;
    background: #792433;
  }

  .lout{
    font-size: 100%;
  }

